@import url('https://fonts.googleapis.com/css?family=Inter:400|Poppins:400');

html {
	font-size: 100%;
} /*16px*/

body {
	background-color: #eff0f3;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.65;
	color: #0d0d0d;
}

p {
	margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1.05rem;
	font-family: 'Inter', serif;
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}

/* --------------- */

header {
	padding: 2rem 3rem;
}

td svg {
	height: 25px;
	color: #ff8e3c;
}

td button {
	background: none;
	border: none;
	cursor: pointer;
}

svg:hover {
	color: #d9376e;
}

td img {
	width: 100px;
	border-radius: 50%;
}

thead {
	font-size: 1.25em;
	background: #fffffe;
}

tr {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(7, minmax(100px, 1fr));
	place-items: center center;
	gap: 20px;
	padding: 1rem 2rem;
}

tr.even {
	background-color: #fffffe;
}

tr:hover {
	background-color: #ff8e3c15;
}



.popup {
	background: hsla(0, 0%, 30%, 0.5);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
}

.popup fieldset {
	background: grey;
	padding: 2rem;
	border: 32px solid whitesmoke;
	background-color: #ccc;
	border-radius: 5px;
	transition: all 0.2s;
	box-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2);
}

.popup.open {
	opacity: 1;
	pointer-events: all;
}

.popup button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.popup button:hover {
	background-color: red;
}

fieldset {
	display: flex;
}

input {
	padding: 1rem;
	border: 1px solid red;
	font-size: 25px;
	color: blue;
	border-radius: 5px;
}
strong {
	font-size: 30px;
	font-weight: 700;
	color: red;
}
